services:
 db:
   image: postgres:latest
   environment:
     POSTGRES_USER: user
     POSTGRES_PASSWORD: password
     POSTGRES_DB: mydb
   ports:
     - "5432:5432"
   volumes:
     - db-data:/var/lib/postgresql

volumes:
   db-data:
